body {
  background: #efefef;
  line-height: 1.4;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* SELECTERTAB */
#regForm {
  background-color: #ffffff;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.container {
  display: flex;
  margin: 0;
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 2;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.item-container {
  background-color: #ff5f5f;
  padding: 20px;
  text-align: center;
  border-radius: 5px;

  height: 100%; /* Ensure each item occupies the full height */
  box-sizing: border-box; /* Include padding and border within the item's dimensions */
  margin: 0 auto; /* Center the grid horizontally */
}

.item-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-container:hover {
  background-color: #ff0000;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup.active {
  opacity: 1;
  pointer-events: auto;
}

/* PLANLÆGNINGSTAB */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 16px;
  height: 50px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  /* SELECTERTAB */
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: 1;
  }

  .item-container {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .auto-grid {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }

  /* PLANLÆGNINGSTAB */
  .grid-container {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
  .button:hover {
    background-color: #45a049;
  }
}


